<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>climb-this-jee</display-name>
  <welcome-file-list>
    <welcome-file>FirstBreakfast</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerFirstBreakfast</display-name>
    <servlet-name>ControllerFirstBreakfast</servlet-name>
    <servlet-class>ControllerFirstBreakfast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerFirstBreakfast</servlet-name>
    <url-pattern>/ControllerFirstBreakfast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSecondBreakfast</display-name>
    <servlet-name>ControllerSecondBreakfast</servlet-name>
    <servlet-class>ControllerSecondBreakfast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSecondBreakfast</servlet-name>
    <url-pattern>/ControllerSecondBreakfast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerAlbums</display-name>
    <servlet-name>ControllerAlbums</servlet-name>
    <servlet-class>controllers.ControllerAlbums</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAlbums</servlet-name>
    <url-pattern>/ControllerAlbums</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerRequestAlbum</display-name>
    <servlet-name>ControllerRequestAlbum</servlet-name>
    <servlet-class>controllers.ControllerRequestAlbum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRequestAlbum</servlet-name>
    <url-pattern>/ControllerRequestAlbum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerProfile</display-name>
    <servlet-name>ControllerProfile</servlet-name>
    <servlet-class>controllers.ControllerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerProfile</servlet-name>
    <url-pattern>/ControllerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerRegister</display-name>
    <servlet-name>ControllerRegister</servlet-name>
    <servlet-class>controllers.ControllerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerRegister</servlet-name>
    <url-pattern>/ControllerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerResetPwd</display-name>
    <servlet-name>ControllerResetPwd</servlet-name>
    <servlet-class>controllers.ControllerResetPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerResetPwd</servlet-name>
    <url-pattern>/ControllerResetPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerWall</display-name>
    <servlet-name>ControllerWall</servlet-name>
    <servlet-class>controllers.ControllerWall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerWall</servlet-name>
    <url-pattern>/ControllerWall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLane</display-name>
    <servlet-name>ControllerLane</servlet-name>
    <servlet-class>controllers.ControllerLane</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLane</servlet-name>
    <url-pattern>/ControllerLane</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDeconnection</display-name>
    <servlet-name>ControllerDeconnection</servlet-name>
    <servlet-class>controllers.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDeconnection</servlet-name>
    <url-pattern>/ControllerDeconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerPics</display-name>
    <servlet-name>ControllerPics</servlet-name>
    <servlet-class>controllers.ControllerPics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerPics</servlet-name>
    <url-pattern>/ControllerPics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerContactMod</display-name>
    <servlet-name>ControllerContactMod</servlet-name>
    <servlet-class>controllers.ControllerContactMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerContactMod</servlet-name>
    <url-pattern>/ControllerContactMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerMailBox</display-name>
    <servlet-name>ControllerMailBox</servlet-name>
    <servlet-class>controllers.ControllerMailBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerMailBox</servlet-name>
    <url-pattern>/ControllerMailBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionToken</display-name>
    <servlet-name>ConnectionToken</servlet-name>
    <servlet-class>utils.ConnectionToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionToken</servlet-name>
    <url-pattern>/ConnectionToken</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>ControllerUserManagement</display-name>
    <servlet-name>ControllerUserManagement</servlet-name>
    <servlet-class>controllers.ControllerUserManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerUserManagement</servlet-name>
    <url-pattern>/ControllerUserManagement</url-pattern>
  </servlet-mapping>
  
  
</web-app>